.block__height {
    min-height: 600px;
}

.flex__direction {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.event__calendar {
    width: 10rem;
}